*
!Dockerfile
!requirements.txt
!hub/
!hub/**
!singleuser/
!singleuser/**
!common/
!common/**
!dispatcher/
!dispatcher/**
!panel/
!panel/**
!ops/i18n/
!ops/i18n/**
!ops/dsh-trusted-origin/
!ops/dsh-trusted-origin/**
**/__pycache__/
**/*.pyc
